.AttackBtn {
    position: fixed;
    z-index: 9;
    right: 10px;
    /* bottom: 20px; */
    width: 66px;
    bottom: 20px;
    height: 66px;
    margin-top: -25px;
    background: white;
    border-radius: 50%;
    appearance: none;
    border: none;
    padding: 0;
    transition: all 0.5s;
    opacity: 1;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

}


.AttackBtn_disabled {
    opacity: 0.5;
}

.AttackBtn_drag {
    transition: none;
}

.AttackEnergy {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.AttackBtn_drag .AttackEnergy {
    transform: translateX(-55px);
    box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.45);
}

.AttackBtn_ready .AttackEnergy {
   
}

.AttackBtn_ready .AttackEnergy__Circle {
  /* animation-name: readiness;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
  animation-delay: var(--ATTACK_TIMEOUT);  */
}

.AttackEnergy__Circle{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.circular-chart {
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  }
  
  .circle {
    stroke: #4CC790;
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 0 100;
    transition-duration: 0.5s;
  }

  .AttackBtn_ready .circle {
    stroke-dasharray: 100 100;
    transition-duration: var(--ATTACK_TIMEOUT);
  }

  .AttackBtn_ready .circular-chart {
    animation-name: readiness;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
    animation-delay: var(--ATTACK_TIMEOUT);
  }

  @keyframes readiness {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.7);
    }
    0% {
      transform: scale(1);
    }
  }