:root {
    --background_content: 'gray';
    --ATTACK_TIMEOUT: 1000ms;
}

body {
    user-select: none;
    touch-action: none;
}

.mapboxgl-control-container {
    display: none;
}

.clearPaddingVertical {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}